
{% if product.configurations.count > 1 %}
<div style="height: 450px;">
    <article class="description">
        <strong>Модификации товара {{ product.name }}</strong>
        <hr>
        {{ product.short_description }}
    </article>
    <div class="buy-list">
        <section class="product">
            <div class="product-block-content">
                <table class="combain-product-list">
                    <tr>
                        <th style="width:70%">Наименование</th>
                        <th style="width:15%">Количество</th>
                        <th style="width:15%">Цена</th>
                    </tr>
                    {% for configuration in product.configurations.all %}
                        <!-- item -->
                        <tr data-role="configuration" data-configuration-id="{{ configuration.id }}">
                            <td>
                                <label for="checksubitem-{{ forloop.counter }}">
                                    <input id="checksubitem-{{ forloop.counter }}" type="checkbox" data-role="configuration-active">
                                    <span class="name">{{ configuration.code }}
                                        <small>{{configuration.get_formatted_unique_attributes}}</small>
                                    </span>
                                </label>
                            </td>
                            <td>
                                <div data-front="price-input">
                                    <span data-front="cart-input-count-minus">
                                        <i class="fa fa-minus-circle"></i>
                                    </span>
                                    <input class="count" type="number" value="1" min="1"
                                        data-front="price-input-count"
                                        data-role="configuration-count">
                                    <span data-front="cart-input-count-plus">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="price-line">
                                    <span class="price" data-role="configuration-price">{{ configuration.price_uah }}</span>
                                    <span class="currency">грн.</span>
                                </div>
                            </td>
                        </tr>
                        <!-- /item -->
                    {% endfor %}
                </table>
                <!-- combain-product-summary -->
                <div class="combain-product-summary">
                    Всего наименований <span data-role="configurations-total-count">0</span> на сумму <span data-role="configurations-total-price">0</span> грн.
                </div>
                <!-- /combain-product-summary -->
            </div>
        </section>
    </div>
    <div class="buttons">
        <button data-role="configurations-buy-in-one-click" class="button button-blue order">Купить в один клик</button>
        <button data-role="configurations-add-to-cart" class="button button-blue add-to-cart">В корзину</button>
        <button class="button" data-role="buy-cancel">Отмена</button>
    </div>
</div>
{% else %}
<div style="height: 315px;">
    <article class="description">
        <strong>{{ product.name }}</strong>
        <hr>
        {{ product.short_description }}
    </article>
    <div class="buy-list">
        <section class="product">
            <div class="product-block-content">
                <table class="combain-product-list">
                        <!-- item -->
                        <tr>
                            <td>
                                <label for="checksubitem-{{ forloop.counter }}">
                                    <span class="name">Количество товара</span>
                                </label>
                            </td>
                            <td>
                                <div data-front="price-input">
                                    <span data-front="cart-input-count-minus">
                                        <i class="fa fa-minus-circle"></i>
                                    </span>
                                    <input class="count" type="number" value="1" min="1"
                                        data-front="price-input-count"
                                        data-role="product-count">
                                    <span data-front="cart-input-count-plus">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="checksubitem-{{ forloop.counter }}">
                                    <span class="name">Цена за один товар</span>
                                </label>
                            </td>
                            <td>
                                <div class="price-line">
                                    <span class="price">{{ product.price_min }}</span>
                                    <span class="currency">грн.</span>
                                </div>
                            </td>
                        </tr>
                </table>

                <div class="combain-product-summary">
                    Cумма <span data-role="product-price">{{ product.price_min }}</span> грн.
                </div>
            </div>
        </section>
    </div>
    <div class="buttons">
        <button class="button button-blue order" data-role="product-buy-in-one-click">Купить в один клик</button>
        <button class="button button-blue add-to-cart" data-product-pk="{{ product.id }}" data-role="product-add-to-cart">В корзину</button>
        <button class="button" data-role="buy-cancel">Отмена</button>
    </div>
</div>
{% endif %}
