{% extends 'base.html' %}

{% load static i18n %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content %}
<!-- product -->
<section class="product">
    <div class="wrap">
        <div class="filters-in-view" data-front="side-panel">
            <div class="produc-side-block">
                {% if product.get_first_image %}
                    <div class="product-image">
                        <img src="{{ product.get_first_image.image_small_thumbnail.url }}"
                             title="{{ product.get_first_image.description }}">
                    </div>
                {% endif %}
            </div>
            <div class="produc-side-block">
                <div class="price-line">
                    {% if product.get_display_price_uah %}
                        <span class="price" data-role="product-price">{{ product.get_display_price_uah }}</span>
                        <span class="currency">грн.</span>
                    {% else %}
                        <span class="currency">свяжитесь с нами насчет цены</span>
                    {% endif %}
                </div>
                {% if not product.configurations.count > 1 and product.get_display_price_uah %}
                    <div class="price-line">
                        <div class="combined-price-count">
                            <input type="number" class="count" min="1" value="1" data-role="product-count">
                            <button class="button button-blue add-to-cart">Купить</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if not product.configurations.count > 1 and product.get_display_price_uah %}
                <div class="produc-side-block">
                    <div class="by-one-click-side">
                        <input type="text" data-role="phone-mask">
                        <button class="button button-blue">Купить в один клик</button>
                    </div>
                </div>
            {% endif %}
            <div class="produc-side-block">
                <ul class="product-guides">
                    <li>
                        <a href="#description" data-front="scroll-to" class="guide-icon guide-description">Описание</a>
                    </li>
                    {% if product.configurations.count > 1 %}
                        <li>
                            <a href="#product-choises" data-front="scroll-to" class="guide-icon choice">Выбор товаров</a>
                        </li>
                    {% endif %}
                    {% if product.get_attributes %}
                        <li>
                            <a href="#charachteristics" data-front="scroll-to" class="guide-icon charachteristics">Характеристики</a>
                        </li>
                    {% endif %}
                    {% if product.get_first_image %}
                        <li>
                            <a href="#photos" data-front="scroll-to" class="guide-icon photos">Фото</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#comments" data-front="scroll-to" class="guide-icon comments">Отзывы</a>
                    </li>
                    {% if product.get_materials %}
                        <li>
                            <a href="#materials" data-front="scroll-to" class="guide-icon materials">Комплектующие</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="products-in-view">
            <!-- info-box -->
            <div class="info-box">
                <div class="title-line">
                    <h1 class="product-title">{{ product.name }}</h1>
                    {% comment %}<span class="label new">новинка</span>{% endcomment %}
                </div>
            </div>
            <!-- /info-box -->
            <div class="product-blocks">
                <!-- description -->
                <div class="product-block">
                    <!-- <h3 class="product-block-title description">
                        Описание
                    </h3> -->
                    <br/>
                    <div class="product-block-content">
                        <article class="description">
                            {{ product.description }}
                        </article>
                    </div>
                </div>
                <!-- /description -->
                {% if product.configurations.count > 1 %}
                    <!-- modifications -->
                    <div class="product-block" id="product-choises">
                        <h3 class="product-block-title item-choice">
                            Выбор модификаций продукта
                        </h3>
                        <div class="product-block-content">
                            <table class="combain-product-list">
                                <tr>
                                    <th style="width:70%">Наименование</th>
                                    <th style="width:15%">Количество</th>
                                    <th style="width:15%">Цена</th>
                                </tr>
                                {% for configuration in product.configurations.all %}
                                    <!-- item -->
                                    <tr data-role="configuration">
                                        <td>
                                            <label for="checksubitem-{{ forloop.counter }}">
                                                <input id="checksubitem-{{ forloop.counter }}" type="checkbox" data-role="configuration-active">
                                                <span class="name">{{ configuration.code }}
                                                    <small>{{configuration.get_formatted_unique_attributes}}</small>
                                                </span>
                                            </label>
                                        </td>
                                        <td>
                                            <div data-front="price-input">
                                                <span data-front="cart-input-count-minus">
                                                    <i class="fa fa-minus-circle"></i>
                                                </span>
                                                <input class="count" type="number" value="1" min="1"
                                                    data-front="price-input-count"
                                                    data-role="configuration-count">
                                                <span data-front="cart-input-count-plus">
                                                    <i class="fa fa-plus-circle"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-line">
                                                <span class="price" data-role="configuration-price">{{ configuration.price_uah }}</span>
                                                <span class="currency">грн.</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /item -->
                                {% endfor %}
                            </table>
                            <!-- combain-product-summary -->
                            <div class="combain-product-summary">
                                Всего наименований <span data-role="configurations-total-count">0</span> на сумму <span data-role="configurations-total-price">0</span> грн. <button class="button button-blue add-to-cart">Купить</button>
                            </div>
                            <!-- /combain-product-summary -->
                        </div>
                    </div>
                    <!-- /modifications -->
                {% endif %}
                {% if product.get_attributes %}
                    <!-- product-block -->
                    <div class="product-block" id="charachteristics">
                        <h3 class="product-block-title comments">
                            Харакетеристики
                        </h3>
                        <table class="chars">
                            {% for attribute in product.get_attributes %}
                                {% if attribute.value %}
                                    <tr>
                                        <td>{{ attribute.name }}</td>
                                        <td>{{ attribute.pretty_value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /product-block -->
                {% endif %}
                {% if product.get_first_image %}
                    <!-- product images -->
                    <div class="product-block" id="photos">
                        <h3 class="product-block-title comments">
                            Фото
                        </h3>
                        <ul class="thumbnails-in-product">
                            {% for image in product.images.all %}
                                <li>
                                    <img src="{{ image.image_small_thumbnail.url }}"
                                        data-front="image-in-product"
                                        data-front-url="{{ image.image_small_thumbnail.url }}"
                                        alt="{{ image.description }}"
                                        title="{{ image.description }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /product images -->
                {% endif %}
                <!-- product-block -->
                <div class="product-block" id="comments">
                    <h3 class="product-block-title comments">
                        Отзывы
                    </h3>
                    <div class="product-block-content">
                        <div class="comment-block">
                            {% comment %}
                                <div class="comment-author-photo">
                                    <img src="/static/images/tmp/avatar.png" alt="">
                                </div>
                            {% endcomment %}
                            <div class="comment-body">
                                <h3 class="comment-author-name">Michael Yakimenko</h3>
                                <article>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque.
                                    </p>
                                </article>
                            </div>

                        </div>

                        <div class="comment-block">
                            <div class="comment-body">
                                <h3 class="comment-author-name">Zymud</h3>
                                <article>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque.
                                    </p>
                                </article>
                            </div>

                        </div>

                        <button class="button button-blue"> Оставить отзыв </button><br/>

                    </div>
                    {% comment %}
                        <h3 class="product-block-title comments">
                            Оставить отзыв
                        </h3>
                        <div class="product-block-content">
                            <div class="left-commnet">
                                <textarea name="" id="" class="left-commnet"></textarea>
                                <!-- TODO: Add button here -->
                            </div>
                        </div>
                    {% endcomment %}
                </div>
                <!-- /product-block -->
                {% if product.get_materials %}
                    <!-- product-block -->
                    <div class="product-block" id="materials">
                        <h3 class="product-block-title">
                            Материалы и комплектующие
                        </h3>
                        <!-- products-list-box -->
                        <div class="products-list-box">
                            <ul class="products-list">
                                {% for material in product.get_materials %}
                                    <!-- product-box -->
                                    <li class="product-box">
                                        <a href="{{ material.get_url }}" class="product product-grid">
                                            <h2 class="title">{{ material.name }}</h2>
                                            <div class="description elipsis-box">
                                                <span class="elipsis">
                                                    {{ material.short_description }}
                                                </span>
                                            </div>
                                            <div class="img-box" align="center">
                                                <img src="{{ material.get_first_image.image_small_thumbnail.url }}" alt="">
                                            </div>
                                            <div class="price-tag">
                                                <span class="price">{{ material.get_display_price_uah }}</span>
                                                <span class="currency">грн.</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- /product-box -->
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /products-list-box -->
                    </div>
                    <!-- /product-block -->
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- /product -->
{% endblock %}

{% block js %}
    <script src="{% static 'assembly/product.js' %}"> </script>
{% endblock js %}
