{% extends 'base.html' %}

{% load static i18n %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content %}
<div class="popup popup-comment" data-front="popup" data-role="comment-popup">
    <h3 class="product-block-title comments">
        Оставить отзыв о товаре
    </h3>
    <div class="product-block-content">
        <div class="left-commnet">
            <label for="advantages">Преимущества</label>
            <textarea name="" id="advantages" class="left-commnet" data-role="comment-positive"></textarea>
            <label for="limitations">Недостатки</label>
            <textarea name="" id="limitations" class="left-commnet" data-role="comment-negative"></textarea>
        </div>
    </div>
    <div class="buttons">
    <button class="button button-blue" data-role="add-comment-button">Оставить отзыв</button>
        <button class="button" data-role="comment-cancel">Отмена</button>
    </div>
</div>

<!-- product -->
<section class="product">
    <div class="wrap">
        <!-- breadcrumps -->
        <div class="breadcrumps">
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="{% url 'products' section=product.subcategory.category.section.slug %}">{{ product.subcategory.category.section.name }}</a></li>
                <li><a href="{% url 'products' section=product.subcategory.category.section.slug category=product.subcategory.category.slug %}">{{ product.subcategory.category.name }}</a></li>
                <li><a href="{% url 'products' section=product.subcategory.category.section.slug category=product.subcategory.category.slug subcategory=product.subcategory.slug %}">{{ product.subcategory.name }}</a></li>
                <li><span>{{ product.name }}</span></li>
            </ul>
        </div>
        <!-- /breadcrumps -->

        <div class="filters-in-view" data-front="side-panel">
            <div class="produc-side-block">
                {% if product.get_first_image %}
                    <div class="product-image">
                        <img src="{{ product.get_first_image.image_small_thumbnail.url }}"
                             title="{{ product.get_first_image.description }}">
                    </div>
                {% endif %}
            </div>
            <div class="produc-side-block">
                <div class="price-line">
                    {% if product.get_display_price_uah %}
                        <span class="price" data-role="product-price">{{ product.get_display_price_uah }}</span>
                        <span class="currency">грн.</span>
                    {% else %}
                        <span class="currency">свяжитесь с нами насчет цены</span>
                    {% endif %}
                </div>
                {% if not product.configurations.count > 1 and product.get_display_price_uah %}
                    <div class="price-line in-side">
                        <div class="combined-price-count">
                            <span data-front="price-input">
                                <span data-front="cart-input-count-minus">
                                    <i class="fa fa-minus-circle"></i>
                                </span>
                                <input class="count" type="number" value="1" min="1"
                                    data-front="price-input-count"
                                    data-role="product-count">
                                <span data-front="cart-input-count-plus">
                                    <i class="fa fa-plus-circle"></i>
                                </span>
                            </span>
                            <button class="button button-blue add-to-cart" data-role="product-add-to-cart" data-product-pk="{{ product.configurations.all.0.pk }}">В корзину</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if not product.configurations.count > 1 and product.get_display_price_uah %}
                <div class="produc-side-block">
                    <div class="by-one-click-side">
                        {% comment %} <input type="text" data-role="phone-mask"> {% endcomment %}
                        <button class="button button-blue order" data-role="product-buy-in-one-click">Купить в один клик</button>
                    </div>
                </div>
            {% endif %}
            <div class="produc-side-block">
                <ul class="product-guides">
                    <li>
                        <a href="#description" data-front="scroll-to" class="guide-icon guide-description">Описание</a>
                    </li>
                    {% if product.configurations.count > 1 %}
                        <li>
                            <a href="#product-choises" data-front="scroll-to" class="guide-icon choice">Выбор товаров</a>
                        </li>
                    {% endif %}
                    {% if product.get_attributes %}
                        <li>
                            <a href="#charachteristics" data-front="scroll-to" class="guide-icon charachteristics">Характеристики</a>
                        </li>
                    {% endif %}
                    {% if product.get_first_image %}
                        <li>
                            <a href="#photos" data-front="scroll-to" class="guide-icon photos">Фото</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#comments" data-front="scroll-to" class="guide-icon comments">Отзывы</a>
                    </li>
                    {% if product.get_materials %}
                        <li>
                            <a href="#materials" data-front="scroll-to" class="guide-icon materials">Комплектующие</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="products-in-view">
            <!-- info-box -->
            <div class="info-box">
                <div class="title-line">
                    <h1 class="product-title" data-role='product' data-product='{{ product.id }}'>{{ product.name }}</h1>
                    {% comment %}<span class="label new">новинка</span>{% endcomment %}
                </div>
            </div>
            <!-- /info-box -->
            <div class="product-blocks">
                <!-- description -->
                <div class="product-block" <div class="product-block" id="description">
                    <br/>
                    <h3 class="product-block-title description">
                        Описание
                    </h3>
                    <div class="product-block-content">
                        <article class="description">
                            {{ product.description }}
                        </article>
                    </div>
                </div>
                <!-- /description -->
                {% if product.configurations.count > 1 %}
                    <!-- modifications -->
                    <div class="product-block" id="product-choises">
                        <h3 class="product-block-title item-choice">
                            Выбор модификаций товара
                        </h3>
                        <div class="product-block-content">
                            <table class="combain-product-list">
                                <tr>
                                    <th style="width:70%">Наименование</th>
                                    <th style="width:15%">Количество</th>
                                    <th style="width:15%">Цена</th>
                                </tr>
                                {% for configuration in product.configurations.all %}
                                    <!-- item -->
                                    <tr data-role="configuration" data-configuration-id="{{ configuration.id }}">
                                        <td>
                                            <label for="checksubitem-{{ forloop.counter }}">
                                                <input id="checksubitem-{{ forloop.counter }}" type="checkbox" data-role="configuration-active">
                                                <span class="name">{{ configuration.code }}
                                                    <small>{{configuration.get_formatted_unique_attributes}}</small>
                                                </span>
                                            </label>
                                        </td>
                                        <td>
                                            <div data-front="price-input">
                                                <span data-front="cart-input-count-minus">
                                                    <i class="fa fa-minus-circle"></i>
                                                </span>
                                                <input class="count" type="number" value="1" min="1"
                                                    data-front="price-input-count"
                                                    data-role="configuration-count">
                                                <span data-front="cart-input-count-plus">
                                                    <i class="fa fa-plus-circle"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-line">
                                                <span class="price" data-role="configuration-price">{{ configuration.price_uah }}</span>
                                                <span class="currency">грн.</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /item -->
                                {% endfor %}
                            </table>
                            <!-- combain-product-summary -->
                            <div class="combain-product-summary">
                                Всего наименований <span data-role="configurations-total-count">0</span> на сумму <span data-role="configurations-total-price">0</span> грн.
                                <button class="button button-blue order" data-role="configurations-buy-in-one-click">Купить в один клик</button>
                                <button class="button button-blue add-to-cart" data-role="configurations-add-to-cart">В корзину</button>
                            </div>
                            <!-- /combain-product-summary -->
                        </div>
                    </div>
                    <!-- /modifications -->
                {% endif %}
                {% if product.get_attributes %}
                    <!-- product-block -->
                    <div class="product-block" id="charachteristics">
                        <h3 class="product-block-title comments">
                            Харакетеристики
                        </h3>
                        <table class="chars">
                            {% for attribute in product.get_attributes %}
                                {% if attribute.value %}
                                    <tr>
                                        <td>{{ attribute.name }}
                                            {% if attribute.characteristic.description %}
                                                <span data-tooltip="tooltip" data-tip="{{ attribute.characteristic.description }}">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td>{{ attribute.pretty_value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /product-block -->
                {% endif %}
                {% if product.get_first_image %}
                    <!-- product images -->
                    <div class="product-block" id="photos">
                        <h3 class="product-block-title comments">
                            Фото
                        </h3>
                        <ul class="thumbnails-in-product">
                            {% for image in product.images.all %}
                                <li>
                                    <img src="{{ image.image_small_thumbnail.url }}"
                                        data-front="image-in-product"
                                        data-front-url="{{ image.image_small_thumbnail.url }}"
                                        alt="{{ image.description }}"
                                        title="{{ image.description }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /product images -->
                {% endif %}
                <!-- product-block -->
                <div class="product-block" id="comments">
                    <h3 class="product-block-title comments">
                        Отзывы
                    </h3>
                    <div class="product-block-content">
                        {% for comment in product.get_approved_comments %}
                            <div class="comment-block">
                                <div class="comment-body">
                                    <strong> Позитивные стороны </strong>
                                    <article>
                                        <p>
                                            {{ comment.positive_sides }}
                                        </p>
                                    </article>

                                    <strong> Негативные стороны </strong>
                                    <article>
                                        <p>
                                            {{ comment.negative_sides }}
                                        </p>
                                    </article>
                                </div>
                            </div>
                        {% endfor %}
                        {% if not product.get_approved_comments %}
                            <small>Никто еще не добавил отзыва. Будьте первыми!</small>
                        {% endif %}
                    </div>
                    <div class="left-comment-in-box">
                        <button class="button button-blue" data-role="show-comment-popup">Оставить отзыв</button>
                    </div>
                </div>
                <!-- /product-block -->
                {% if product.get_materials %}
                    <!-- product-block -->
                    <div class="product-block" id="materials">
                        <h3 class="product-block-title">
                            Материалы и комплектующие
                        </h3>
                        <!-- products-list-box -->
                        <div class="products-list-box">
                            <ul class="products-list">
                                {% for material in product.get_materials %}
                                    <!-- product-box -->
                                    <li class="product-box">
                                        <a href="{{ material.get_url }}" class="product product-grid">
                                            <h2 class="title">{{ material.name }}</h2>
                                            <div class="description elipsis-box">
                                                <span class="elipsis">
                                                    {{ material.short_description }}
                                                </span>
                                            </div>
                                            <div class="img-box" align="center">
                                                <img src="{{ material.get_first_image.image_small_thumbnail.url }}" alt="">
                                            </div>
                                            <div class="price-tag">
                                                <span class="price">{{ material.get_display_price_uah }}</span>
                                                <span class="currency">грн.</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- /product-box -->
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /products-list-box -->
                    </div>
                    <!-- /product-block -->
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- /product -->
{% endblock %}

{% block js %}
    <script src="{% static 'products/comments.js' %}"> </script>
    <script src="{% static 'assembly/product.js' %}"> </script>
{% endblock js %}
