$text-color: #303030;
$link-color: #3498db;

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: rem(18);
    line-height: 150%;
    background: #fff;
    background-image: url('/static/images/bg.png');
    font-family: Helvetica, Verdana, Arial, serif;
    position: relative;
    color: $text-color;
    padding: 0;
    margin: 0;
    &.open-menu, &.open-gallery {
        overflow: hidden;
    } // &.open-menu, &.open-gallery
    @include bp(xs) {
        font-size: rem(22);
    } // xs
    @include bp(sm) {
        font-size: rem(22);
    } // sm
    @include bp(md) {
        font-size: rem(22);
    } // md
    @include bp(lg) {
        font-size: rem(22);
    } // lg
} // body

img {
    display: block;
    max-width: 100%;
    vertical-align: top;
} // img

a {
    color: $link-color;
    @include transition(all, 0.3s, ease);
    cursor: pointer;
    &:hover {
        text-decoration: none;
    } // &:hover
} // a

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
} // table

td {
    margin: 0;
    padding: 0;
    vertical-align: top;
} // td
th {
    text-align: left;
    vertical-align: top;
} // th

fieldset {
    border: none;
    padding: 0;
    margin: 0;
} // fieldset

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1;
} // h1, h2, h3, h4, h5

button {
    border: none;
    background: none;
}

div, input, textarea, select,button, h1, h2, h3, h4, h5, h6,
a, a:focus, span {
    outline: none;
} // div, input, textarea, select,button, h1, h2, h3, h4, h5, h6, a, a:focus, span
