.breadcrumps {
    margin: 20px 0;
    @include bp(xs) {
        display: none;
    } // xs
    ul {
        @include clear-list-inline;
        li + li {
            margin: 0 5px;
            &:before {
                @include clear-list-inline;
                margin-right: 10px;
                content: '\f0da';
                font: normal normal normal 12px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            } // &.before
        } // li + li
        li {
            font-size: rem(16);
            a {
                color: #1B5191;
            } // a
            span {
                color: #5C5C5C;
            } // span
        } // li
    } // ul
} // breadcrumps
