.wrap {
    @include clearfix;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    @include bp(md) {
        width: 960px;
        padding: 0;
    } // md
    @include bp(lg) {
        width: 960px;
        padding: 0;
    } // lg
} // wrap

.custom-select {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    @include inline-middle;
    cursor: pointer;
    select {
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        background: transparent;
        -webkit-appearance: none;
        border: none;
        outline: 0;
    } // select
} // custom-select

.view-title-box {
    margin: 20px 0;
    .view-title {
        font-family: 'PT Sans Narrow';
        font-size: rem(28);
        color: #000000;
        line-height: 1;
    } // view-title-box
} // view-title-box

// buttons
.button {
    @include inline-middle;
    padding: 12px 16px 8px 16px;
    font-size: rem(16);
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
    outline: none;
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    &.button-transparent {
        background: transparent;
    } // &.button-transparent
    &.button-blue {
        background: #3498DB;
        color: white;
        border-bottom: 2px solid #2980B9;
        &:hover {
            background: #1D73AC;
            border-bottom: 2px solid #135B8A;
        } // &:hover
        &:active {
            position: relative;
            top: 2px;
            border-color: transparent;
        } // &:active
        &.add-to-cart {
            &:before {
                content: '\f07a';
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #1F3D5B;
                text-shadow: 1px 1px 2px rgba(164, 190, 207, .45);
                margin-right: 10px;
            } // &:before
        } // add-to-cart
        &.order {
            &:before {
                content: '\f15c';
                font: normal normal normal 14px/1 FontAwesome;
                font-family: FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #1F3D5B;
                text-shadow: 1px 1px 2px rgba(164, 190, 207, .45);
                margin-right: 10px;
            } // &.before
        } // &.order
        &.one-click {
            background: #1D73AC;
            border-bottom: 2px solid #135B8A;
        } // &.oneclick
    } // &.button-blue
    &.apply {
        font-size: rem(12);
    }
} // button

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #979797;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #979797;
}

.disabled {
    opacity: 0.5;
    cursor: no-drop !important;
}
