.order-form {
    box-sizing: border-box;
    [class^="step-"] {
        display: none;
        &.active {
            display: block;
        } // &.active
    } // [class^="step-"]
    .step-1, .step-2 {
        @include clearfix;
        fieldset {
            padding: 5px 0;
            margin: 0;
            border: none;
            label {
                font-family: Arial;
                font-size: rem(16);
                display: block;
                width: 240px;
                float: left;
                text-align: right;
            } // label
            .input {
                width: calc(100% - 240px);
                float: right;
                box-sizing: border-box;
                padding-left: 10px;
                .normal-select {
                    width: 100%;
                    &:after {
                        color: #828282;
                        content: '\f107';
                        font: normal normal normal 24px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        position: absolute;
                        right: 4px;
                        top: 0px;
                        pointer-events: none;
                    } // &:after
                    select {
                        font-size: rem(16);
                        color: #828282;
                    } // select
                } // normal-select
            } // input
            input[type="text"],
            input[type="tel"],
            input[type="email"] {
                padding: 6px 5px;
            } // input[type="text"]
        } // fieldset
    } // step-1, step-2
    .order-button {
        text-align: right;
    } // order-button
} // order-form
