.popup {
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 0px -1px rgb(187, 217, 228);
    border: 1px solid #98C6D8;
    @include bp(xs) {
        width: 80%;
    } // xs
    @include bp(xs) {
        width: 80%;
    } // sm
    .description {
        font-size: rem(16);
        line-height: 1.2;
        color: #5C5C5C;
        margin-bottom: 20px;
    } // description
    .buttons {
        text-align: center;
    } // buttons
} // popup

.popup-comment {
    width: 600px;
    font-size: rem(16);
    @include bp(xs) {
        width: 80%;
    } // xs
    @include bp(xs) {
        width: 80%;
    } // sm
    .product-block-title {
        margin-top: 0;
        font-size: rem(22);
        color: #516D91;
        line-height: 28px;
    }
    textarea {
        border: 1px solid #D1D1D1;
        margin-bottom: 20px;
    } // textarea
    .button {
        text-transform: none;
        padding: 4px 8px;
        padding-top: 7px;
    } // button
} // popup-comment

.flash-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    box-sizing: border-box;
    text-align: center;
    background-color: #00A2E2;
    color: white;
    z-index: 9999;
    .content {
        @include clearfix;
    }
    .close {
        float: right;
        &:before {
            @include icon-fa;
            content: "\f057";
        } // &:before
    } // close
} // flash-popup
