[data-role="popup-mobile-menu"] {
    @include bp(sm) {
        display: none !important;
    } // sm
    @include bp(md) {
        display: none !important;
    } // md
    @include bp(lg) {
        display: none !important;
    } // lg
}

[data-role="popup-menu"] {
    @include bp(xs) {
        display: none !important;
    }
    @include bp(lg) {
        display: none !important;
    }
}
[data-role="popup-search"] {
    @include bp(xs) {
        display: none !important;
    }
}

.popup-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(0, 114, 173);
    z-index: 9;
    vertical-align: middle;
    padding: 30px 0;
    &.active {
        display: block;
    } // &.active
    .search-box {
        position: relative;
        .search-fieled {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
            color: #fff;
            font-size: rem(20);
            padding: 5px 10px;
            padding-right: 30px;
            margin: 10px 20px 0 0;
            box-sizing: border-box;
            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
            &::-moz-placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
            &:-moz-placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
            &:-ms-input-placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        } // search-field
        .send {
            display: block;
            width: 30px;
            height: 30px;
            border: none;
            color: rgba(255, 255, 255, 0.7);
            position: absolute;
            right: 2px;
            top: 10px;
            &:before {
                content: '\f002';
                font: normal normal normal 22px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            } // &:before
        } //send
    } // search-box
    .popup-block + .popup-block {
        margin-top: 20px;
    } // popup-block + popup-block
    .menu-box {
        .menu-list {
            @include clear-list-inline;
            li {
                text-align: center;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: rem(20);
                    line-height: 26px;
                    font-family: PT Sans Narrow;
                } // a
            } // li
            li + li {
                margin-left: 20px;
            } // li + li
        } // menu-list
    } // menu-box
} // popup-menu
