.breadcrumps {
    margin: 20px 0 40px 0;
    @include bp(xs) {
        display: none;
    } // xs
    ul {
        @include clear-list-inline;
        li + li {
            &:before {
                @include clear-list-inline;
                content: '\f0da';
                font: normal normal normal 12px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            } // &.before
        } // li + li
        li {
            a {
                color: #1B5191;
                font-size: rem(12);
                text-transform: uppercase;
            } // a
            span {
                color: #5C5C5C;
                font-size: rem(14);
            } // span
        } // li
    } // ul
} // breadcrumps

.product {
    .filters-in-in-view {
        float: left;
        width: 220px;
        box-sizing: border-box;
        padding: 20px;
        background-color: #F1F1F1;
    } // filters-in-in-view
    .products-in-view {
        float: right;
        width: calc(100% - 220px);
        box-sizing: border-box;
        padding: 20px 0 0 20px;
    } // products-in-view
    .product-block {
        + .product-block {
            margin-top: 20px;
        } // product-block
    } // product-block
    .info-box {
        .title-line {
            display: inline-block;
            .product-title {
                @include inline-middle;
                font-family: 'PT Sans Narrow';
                font-size: rem(34);
                color: #2E2E2E;
                line-height: 1;
                margin: 0;
            } // product-title
            .label {
                @include inline-middle;
                font-family: Arial;
                font-size: rem(16);
                line-height: 1;
                text-transform: lowercase;
                color: white;
                padding: 4px 10px;
                border-radius: 2px;
                &.new {
                    background-color: #7ED321;
                } // &.new
                &.action {
                    background-color: #F1C40F;
                } // &.action
                &.discount {
                    background-color: #D0021B;
                } // &.discount
            } // label
        } // title-line
        .price-line {
            border-top: 1px solid #979797;
            padding-top: 20px;
            margin-top: 20px;
            margin-bottom: 40px;
            line-height: 1;
            @include bp(xs) {
                border-top: none;
                margin-top: 0;
                padding-top: 10px;
            } // xs
            .in-stock {
                @include inline-middle;
                font-size: rem(16);
                color: #20648C;
                @include bp(xs) {
                    display: block;
                    margin-bottom: 10px;
                } // xs
                @include bp(sm) {
                    display: block;
                    margin-bottom: 10px;
                } // sm
            } // in-stock
            .price {
                @include inline-middle;
                font-size: rem(32);
                color: #417505;
            } // price
            .currency {
                @include inline-middle;
                font-size: rem(20);
                color: #000000;
            } // currency
            .add-to-cart {
                @include bp(xs) {
                    display: block;
                    margin-top: 10px;
                } // xs
            } // add-to-cart
        } // price-line
    } // info-box
    .descriptionription {
        font-size: rem(16);
        line-height: 1.2;
        color: #5C5C5C;
        @include bp(xs) {
            display: none;
        } // xs
    } // descriptionription
} // product



.product-rating-box {
    font-size: rem(14);
    color: rgb(200, 164, 20);
    .product-rating {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        &.rating-1 {
            &:before {
                content: '\f005 \f006 \f006 \f006 \f006 ';
            } // &:before
        } // rating-1
        &.rating-2 {
            &:before {
                content: '\f005 \f005 \f006 \f006 \f006 ';
            } // &:before
        } // rating-2
        &.rating-3 {
            &:before {
                content: '\f005 \f005 \f005 \f006 \f006 ';
            } // &:before
        } // rating-3
        &.rating-4 {
            &:before {
                content: '\f005 \f005 \f005 \f005 \f006 ';
            } // &:before
        } // rating-4
        &.rating-5 {
            &:before {
                content: '\f005 \f005 \f005 \f005 \f005 ';
            } // &:before
        } // rate-5
    } // product-rating
} // product-rating-box
