.product-menu {
    background-color: #00A2E2;
    width: 100%;
    display: none;
    vertical-align: middle;
    .wrap {
        background: none;
    } // wrap
    @include bp (sm) {
        display: block;
    } // sm
    @include bp (md) {
        display: block;
    } // md
    @include bp (lg) {
        display: block;
    } // lg
    .menu {
        @include clear-list-inline;
        padding-right: 60px;
        position: relative;
        > li {
            + li {
                border-left: 1px solid rgba(255, 255, 255, 0.33);
            } // + li
            &:nth-child(1),
            &:nth-child(2) {
                border-left: none;
            } // &:nth-child(1), &:nth-child(2)
        } // > li
        > li {
            float: left;
            @include bp (sm) {
                display: none;
            } // sm
            @include bp (md) {
                @include clear-list-inline;
            } // md
            @include bp (lg) {
                @include clear-list-inline;
            } // lg
            &.bar-icon {
                display: none;
                @include inline-middle;
                @include no-select;
                display: block;
                width: 60px;
                cursor: pointer;
                float: left;
                span {
                    display: none;
                    color: white;
                    text-decoration: none;
                    @include inline-middle;
                    box-sizing: border-box;
                    padding-top: 10px;
                    font-size: rem(20);
                    line-height: 26px;
                    width: 60px;
                    height: 46px;
                    &:before {
                        content: '\f0c9';
                        font: normal normal normal 23px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        padding-right: 20px;
                    } // &:before
                    @include bp (sm) {
                        display: block;
                    } // sm
                    @include bp (md) {
                        display: none;
                    } // md
                    @include bp (lg) {
                        display: none;
                    } // lg
                } // a
            } // bar-icon
            > a {
                display: block;
                text-decoration: none;
                color: white;
                font-size: rem(18);
                line-height: 1;
                padding: 10px 20px;
                &:hover, &:active, &.active {
                    background-color: rgb(0, 114, 173);
                } // &:hover, &:active, &.active
            } // a
            &:hover {
                > a {
                    background-color: rgb(0, 114, 173);
                    &:hover, &:active, &.active {
                        background-color: rgb(0, 114, 173);
                    } // &:hover, &:active, &.active
                } // a
                .submenu {
                    display: block;
                } // .submenu
            } // hover
            .submenu {
                box-sizing: border-box;
                border-radius: 0px 0px 5px 5px;
                display: none;
                background-color: white;
                position: absolute;
                top: 46px;
                left: 0;
                z-index: 4;
                border: 1px solid rgb(232, 232, 232);
                border-bottom: 2px solid rgb(232, 232, 232);
                border-top: none;
                .submenu-container {
                    width: 100%;
                    @include table;
                    .submenu-container-left {
                        @include table-cell;
                        width: 235px;
                        background-color: #F5F5F5;
                        ul.subMenuLeft-nav {
                            @include clear-list;
                            height: auto;
                            margin-bottom: 5px;
                            > li {
                                background-color: #F5F5F5;
                                @include table;
                                + li {
                                    a {
                                        border-top: 1px solid rgb(218, 218, 218);
                                    }
                                }
                                &.active {
                                    a {
                                        color: white;
                                        background-color: #57ABFF;
                                    }
                                } // &.active
                                > a {
                                    @include table-cell;
                                    vertical-align: middle;
                                    height: 50px;
                                    line-height: 1;
                                    transition: none;
                                    box-sizing: border-box;
                                    width: 100%;
                                    background-color: none;
                                    font-size: rem(16);
                                    padding: 8px 30px;
                                    color: #5C5C5C;
                                    text-decoration: none;
                                    &:hover, &.active {
                                        color: white;
                                        background-color: #57ABFF;
                                    } // &:hover, &.active
                                } // a
                            } // li
                        } // ul.subMenuLeft-nav
                    } // .submenu-container-left
                    .submenu-container-right {
                        @include table-cell;
                        width: calc(100% - 235px);
                        box-sizing: border-box;
                        padding: 8px 20px;
                        overflow: hidden;
                    } // .submenu-container-right
                } // .submenu-container
            } // submenu
        } // li
    } // menu
} // product-menu
