.breadcrumps {
    margin: 20px 0 40px 0;
    @include bp(xs) {
        display: none;
    } // xs
    ul {
        @include clear-list-inline;
        li + li {
            &:before {
                @include clear-list-inline;
                content: '\f0da';
                font: normal normal normal 12px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            } // &.before
        } // li + li
        li {
            a {
                color: #1B5191;
                font-size: rem(12);
                text-transform: uppercase;
            } // a
            span {
                color: #5C5C5C;
                font-size: rem(14);
            } // span
        } // li
    } // ul
} // breadcrumps

.product {
    .gray-box {
        background: #F2F2F2;
        padding-bottom: 20px;
        @include bp(xs) {
            padding-top: 30px;
        } // xs
    } // gray-box
    .product-main {
        @include table;
        @include bp(xs) {
            display: block;
        } // xs
        .images-box {
            @include table-cell;
            @include clearfix;
            width: 340px;
            @include bp(xs) {
                display: none;
            } // xs
            .image-previews {
                @include clear-list;
                float: left;
                width: 80px;
                li + li {
                    margin-top: 15px;
                } // li + li
                .image-preview {
                    border: 1px solid #979797;
                    padding: 10px;
                    cursor: pointer;
                    &.active {
                        border: 1px solid #00A2E2;
                    } // &.active
                } // image-preview
            } // image-previews
            .product-image {
                float: right;
                width: 220px;
                padding-right: 20px;
            } // product-image
        } // images-box
        .info-box {
            @include table-cell;
            padding-left: 20px;
            @include bp(xs) {
                display: block;
            } // xs
            .title-line {
                display: inline-block;
                .product-title {
                    @include inline-middle;
                    font-family: 'PT Sans Narrow';
                    font-size: rem(34);
                    color: #2E2E2E;
                    line-height: 1;
                    margin: 0;
                } // product-title
                .label {
                    @include inline-middle;
                    font-family: Arial;
                    font-size: rem(16);
                    line-height: 1;
                    text-transform: lowercase;
                    color: white;
                    padding: 4px 10px;
                    border-radius: 2px;
                    &.new {
                        background-color: #7ED321;
                    } // &.new
                    &.action {
                        background-color: #F1C40F;
                    } // &.action
                    &.discount {
                        background-color: #D0021B;
                    } // &.discount
                } // label
            } // title-line
            .price-line {
                border-top: 1px solid #979797;
                padding-top: 20px;
                margin-top: 20px;
                margin-bottom: 40px;
                line-height: 1;
                @include bp(xs) {
                    border-top: none;
                    margin-top: 0;
                    padding-top: 10px;
                } // xs
                .in-stock {
                    @include inline-middle;
                    font-size: rem(16);
                    color: #20648C;
                    @include bp(xs) {
                        display: block;
                        margin-bottom: 10px;
                    } // xs
                    @include bp(sm) {
                        display: block;
                        margin-bottom: 10px;
                    } // sm
                } // in-stock
                .price {
                    @include inline-middle;
                    font-size: rem(32);
                    color: #417505;
                } // price
                .currency {
                    @include inline-middle;
                    font-size: rem(20);
                    color: #000000;
                } // currency
                .add-to-cart {
                    @include bp(xs) {
                        display: block;
                        margin-top: 10px;
                    } // xs
                } // add-to-cart
            } // price-line
            .descriptionription {
                font-size: rem(16);
                line-height: 1.2;
                color: #5C5C5C;
                @include bp(xs) {
                    display: none;
                } // xs
            } // descriptionription
            .images-box-mobile {
                .image-previews {
                    @include clear-list-inline;
                    text-align: center;
                    li + li {
                        margin-left: 15px;
                    } // li + li
                    .image-preview {
                        width: 80px;
                        border: 1px solid #979797;
                        padding: 10px;
                        cursor: pointer;
                        &.active {
                            border: 1px solid #00A2E2;
                        } // &.active
                    } // image-preview
                } // image-previews
                .product-image {
                    text-align: center;
                    padding: 20px;
                    margin-bottom: 10px;
                    img {
                        @include inline-middle;
                    } // img
                } // product-image
                @include bp(sm) {
                    display: none;
                } // sm
                @include bp(md) {
                    display: none;
                } // md
                @include bp(lg) {
                    display: none;
                } // lg
            } // images-box-mobile
        } // info-box
    } // product-main
    .descriptionription-mobile {
        font-size: rem(16);
        line-height: 1.2;
        color: #5C5C5C;
        @include bp(xs) {
            display: block;
        } // xs
        @include bp(sm) {
            display: none;
        } // sm
        @include bp(md) {
            display: none;
        } // md
        @include bp(lg) {
            display: none;
        } // lg
    } // descriptionription-mobile

    .characteristics {
        margin: 40px 0 0 0;
        @include bp(xs) {
            margin: 20px 0 0 0;
        } // xs
        .wrap.list {
            @include bp(xs) {
                padding: 0;
            } // xs
        } // wrap
        .char-tabs {
            @include clearfix;
            @include clear-list-inline;
            background: #A0D4E9;
            border: 1px solid #A0D4E9;
            li {
                padding: 15px 25px;
                cursor: pointer;
                float: left;
                &.active {
                    color: #00A2E2;
                    background: white;
                    position: relative;
                    &:hover {
                        background: white;
                    } // &:hover
                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15px 15px 0 15px;
                        border-color: #a0d4e9 transparent transparent transparent;
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        margin-left: -15px;
                    } // &:before
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15px 15px 0 15px;
                        border-color: white transparent transparent transparent;
                        position: absolute;
                        bottom: -14px;
                        left: 50%;
                        margin-left: -15px;
                    } // &:after
                } // &.active
                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                } // &:hover
            } // li
        } // char-tabs
        .char-container {
            margin-top: 30px;
        } // char-container
    } // characteristics
} // product
