.breadcrumps {
    margin: 20px 0 40px 0;
    @include bp(xs) {
        display: none;
    } // xs
    ul {
        @include clear-list-inline;
        li + li {
            &:before {
                @include clear-list-inline;
                content: '\f0da';
                font: normal normal normal 12px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            } // &.before
        } // li + li
        li {
            a {
                color: #1B5191;
                font-size: rem(12);
                text-transform: uppercase;
            } // a
            span {
                color: #5C5C5C;
                font-size: rem(14);
            } // span
        } // li
    } // ul
} // breadcrumps

.product {
    margin-bottom: 20px;
    .wrap {
        position: relative;
    } // wrap
    .filters-in-view {
        @include bp(xs) {
            width: 100%;
            float: none;
            margin: 0 auto;
            text-align: center;
            img {
                @include inline-middle;
            } // img
        } // xs
        float: left;
        width: 220px;
        box-sizing: border-box;
        padding: 20px;
        background-color: #F1F1F1;
    } // filters-in-in-view
    .products-in-view {
        @include bp(xs) {
            width: 100%;
            float: none;
        } // xs
        float: right;
        width: calc(100% - 220px);
        box-sizing: border-box;
        padding: 20px 0 0 20px;
    } // products-in-view
    .produc-side-block {
        + .produc-side-block {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #979797;
        }
        .by-one-click-side {
            @include bp(xs) {
                display: none;
            } // xs
            input[type="text"] {
                margin-bottom: 10px;
                border: 1px solid #D1D1D1;
                border-radius: 2px;
                text-align: center;
                font-size: rem(16);
                padding: 4px 8px;
            } // input[type="text"]
            button {
                width: 100%;
            } // button
        } // by-one-click-side
        .product-image {
            text-align: center;
        } // product-image
        .price-line {
            text-align: center;
            .price {
                @include inline-middle;
                color: #417505;
            } // price
            .currency {
                @include inline-middle;
            } // currency
            .combined-price-count {
                @include clearfix;
                margin-top: 4px;
                input {
                    width: 34%;
                    float: left;
                    box-sizing: border-box;
                    padding: 4px 8px;
                    font-size: rem(16);
                } // input
                button {
                    width: 62%;
                    float: right;
                    text-align: center;
                } // button
            } // combined-price-count
        } // price-line
        .product-guides {
            @include clear-list;
            @include bp(xs) {
                display: none;
            } // xs
            li {
                a {
                    font-size: rem(16);
                    color: #5C5C5C;
                    text-decoration: none;
                    &.active {
                        color: #4A90E1;
                    } // &.active
                } // a
            } // li
        } // product-guides
        &:nth-last-child(1), &:nth-last-child(2) {
            @include bp(xs) {
                border-top: none;
                margin-top: 0px;
                padding-top: 0px;
            } // xs
        }
    } // produc-side-block
    .product-block {
        + .product-block {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #979797;
        } // product-block
        .product-block-title {
            margin-top: 0;
            font-size: rem(22);
            color: #516D91;
            line-height: 28px;
        } // product-block-title
        .product-block-content {} // product-block-content
    } // product-block
    .info-box {
        .title-line {
            display: inline-block;
            .product-title {
                @include inline-middle;
                font-family: 'PT Sans Narrow';
                font-size: rem(34);
                color: #2E2E2E;
                line-height: 1;
                margin: 0;
            } // product-title
            .label {
                @include inline-middle;
                font-family: Arial;
                font-size: rem(16);
                line-height: 1;
                text-transform: lowercase;
                color: white;
                padding: 4px 10px;
                border-radius: 2px;
                &.new {
                    background-color: #7ED321;
                } // &.new
                &.action {
                    background-color: #F1C40F;
                } // &.action
                &.discount {
                    background-color: #D0021B;
                } // &.discount
            } // label
        } // title-line
        .price-line {
            border-top: 1px solid #979797;
            padding-top: 20px;
            margin-top: 20px;
            margin-bottom: 40px;
            line-height: 1;
            @include bp(xs) {
                border-top: none;
                margin-top: 0;
                padding-top: 10px;
            } // xs
            .in-stock {
                @include inline-middle;
                font-size: rem(16);
                color: #20648C;
                @include bp(xs) {
                    display: block;
                    margin-bottom: 10px;
                } // xs
                @include bp(sm) {
                    display: block;
                    margin-bottom: 10px;
                } // sm
            } // in-stock
            .price {
                @include inline-middle;
                font-size: rem(32);
                color: #417505;
            } // price
            .currency {
                @include inline-middle;
                font-size: rem(20);
                color: #000000;
            } // currency
            .add-to-cart {
                @include bp(xs) {
                    display: block;
                    margin-top: 10px;
                } // xs
            } // add-to-cart
        } // price-line
    } // info-box
    .description {
        font-size: rem(16);
        line-height: 1.2;
        color: #5C5C5C;
        @include bp(xs) {
            display: none;
        } // xs
    } // description
    .combain-product-list {
        tr {
            + tr {
                border-top: 1px solid #DBDBDB;
            }
        } // tr
        th, td {
            padding: 10px 4px;
        } // th, td
        th {

        } // th
        td {
            &.buy-button {
                text-align: right;
            } // add-to-cart
            .count {
                width: 60px;
            } // count
            .button-blue {
                font-size: rem(14);
                text-transform: none;
                padding: 4px 8px;
            } // button-blue
            .price-line {
                .price {
                    @include inline-middle;
                    color: #417505;
                } // price
                .currency {
                    @include inline-middle;
                } // currency
            } // price-line
        } // td
    } // combain-product-list
    .combain-product-summary {
        padding: 20px;
        margin-top: 10px;
        @include clearfix;
        font-size: rem(18);
        background-color: #F1F1F1;
        .button-blue {
            float: right;
        } // button-blue
    } // combain-product-summary
    .comment-block {
        + .comment-block {
            margin-top: 20px;
        } // comment-block
        @include table;
        .comment-author-photo {
            @include table-cell;
            width: 70px;
        } //comment-author-photo
        .comment-body {
            @include table-cell;
        } // comment-body
        .comment-author-name {
            font-size: rem(18);
            color: #516D91;
        } // comment-author-name
        article {
            font-size: rem(16);
            line-height: 1.2;
            color: #5C5C5C;
        } // article
    } // comment-block
    .left-commnet {
        textarea {
            border: 1px solid #D1D1D1;
            margin-bottom: 20px;
        } // textarea
    } // left-commnet
    .simple-text {
        font-size: rem(16);
        color: #5C5C5C;
    } // simple-text
    .login-for-comment {
        margin-top: 10px;
    } // login-for-comment
    .button {
        text-transform: none;
        padding: 4px 8px;
        padding-top: 7px;
    } // button
} // product

.left-comment-in-box {
    margin-top: 20px;
} // left-comment-in-box

.product-rating-box {
    font-size: rem(14);
    color: rgb(200, 164, 20);
    .product-rating {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        &.rating-1 {
            &:before {
                content: '\f005 \f006 \f006 \f006 \f006 ';
            } // &:before
        } // rating-1
        &.rating-2 {
            &:before {
                content: '\f005 \f005 \f006 \f006 \f006 ';
            } // &:before
        } // rating-2
        &.rating-3 {
            &:before {
                content: '\f005 \f005 \f005 \f006 \f006 ';
            } // &:before
        } // rating-3
        &.rating-4 {
            &:before {
                content: '\f005 \f005 \f005 \f005 \f006 ';
            } // &:before
        } // rating-4
        &.rating-5 {
            &:before {
                content: '\f005 \f005 \f005 \f005 \f005 ';
            } // &:before
        } // rate-5
    } // product-rating
} // product-rating-box

.chars {
    tr {
        &:nth-child(even) {
            // border-top: 1px solid gray;
            background-color: rgb(241, 241, 241);
        } // &:nth-child(even)
        td {
            padding: 10px 8px;
            font-size: rem(16);
        } // td
    } // tr
} // chars

.thumbnails-in-product {
    @include clear-list-inline;
    @include clearfix;
    li {
        float: left;
        width: 20%;
        box-sizing: border-box;
        padding: 10px;
        &:nth-child(5n+1) {
            clear: both;
        } // &:nth-child(5n+1)
    } // li
} // thumbnails-in-product

// guides
.guide-icon {
    &:before {
        @include icon-fa;
        margin-right: 10px;
    } // &:before
    &.guide-description {
        &:before {
            content: "\f0f6";
        } // &:before
    } // guide-description
    &.charachteristics {
        &:before {
            content: "\f022";
        } // &:before
    } // &.charachteristics
    &.choice {
        &:before {
            content: "\f05d";
        } // &:before
    } // &.choice
    &.comments {
        &:before {
            content: "\f0e6";
        } // &:before
    } // &.comments
    &.photos {
        &:before {
            content: "\f03e";
        } // &:before
    } // &.photos
    &.materials {
        &:before {
            content: "\f013";
        } // &:before
    } // &.materials
} // guide-icon

[data-front="price-input"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
} // [data-front="price-input"]

[data-front="cart-input-count-minus"] {
    cursor: pointer;
} // [data-front="cart-input-count-minus"]
[data-front="cart-input-count-plus"] {
    cursor: pointer;
} // [data-front="cart-input-count-plus"]
