h1.typo-primary {
    /* Галлерея: */
    font-family: 'PT Sans Narrow';
    font-size: rem(28);
    color: #000000;
    text-align: center;
} // h1.typo-primary

.text-title {
    font-family: Arial;
    font-weight: bold;
    font-size: rem(20);
    color: #484848;
    line-height: 1;
} // text-title

.text-text {
    font-family: Arial;
    font-size: rem(14);
    color: #484848;
    line-height: 1.5;
} // text-text
