.ui-slider-horizontal {
    background-color: white;
    width: 93%;
    height: 6px;
    position: relative;
    .ui-slider-handle {
        position: absolute;
        top: -5px;
        display: block;
        box-sizing: border-box;
        background-color: #4A90E2;
        border-radius: 100%;
        border: 3px solid #fff;
        width: 15px;
        height: 15px;
        box-shadow: 0 0 1px #979797;
        cursor: pointer;
        z-index: 2;
    } // ui-slider-handle
    .ui-slider-range {
        position: absolute;
        z-index: 1;
        height: 6px;
        background-color: #4A90E2;
    } //  ui-slider-range
    .value {
        position: absolute;
        top: 10px;
        left: 50%;
        margin: 0 0 0 -50px;
        width: 100px;
        text-align: center;
        display: block;
        font-weight: normal;
        color: #626262;
        font-size: rem(14);
        font-family: Arial;
    }
    .price-range-both {
        // display: block !important;
        position: absolute;
        left: 50%;
        top: -40px;
        width: 200px;
        margin-left: -100px;
    } // price-range-both
} // ui-slider-horizontal
