.welcome-wrap {
    @include table;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    @include bp(md) {
        width: 85%;
        padding: 0;
    } // md
    @include bp(lg) {
        width: 80%;
        padding: 0;
    } // lg
    .welcome-block {
        @include table-cell;
        vertical-align: middle;
        box-sizing: border-box;
        &.logo-box {
            width: 50%;
            @include bp(sm) {
                width: 170px;
                padding-right: 20px;
            } // sm
            @include bp(md) {
                width: 170px;
                padding-right: 20px;
            } // md
            @include bp(lg) {
                width: 170px;
                padding-right: 20px;
            } // lg
            .logo {
                @include inline-middle;
                width: 150px;
                height: 150px;
                background: url(/static/images/logo.png);
                background-size: 100%;
            } // logo
        } // &.logo-box
        &.search-box {
            @include bp(xs) {
                display: none;
            } // xs
            @include table-cell;
            @include bp(sm) {
                @include table-cell;
            } // sm
            @include bp(md) {
                @include table-cell;
            } // md
            @include bp(lg) {
                @include table-cell;
            } // lg
            position: relative;
            .search {
                font-size: rem(18);
                border-radius: 3px;
                border: 1px solid #d1d1d1;
                padding: 10px 15px;
                font-family: PT Sans Narrow;
                width: 92%;
                position: absolute;
                top: 35%;
            } // search
        } // &.search-box
        &.info-box {
            width: 50%;
            padding-left: 20px;
            @include bp(sm) {
                width: 380px;
                padding-left: 20px;
            } // sm
            @include bp(md) {
                width: 380px;
                padding-left: 20px;
            } // md
            @include bp(lg) {
                width: 380px;
                padding-left: 20px;
            } // lg
            .info {
                @include bp(xs) {
                    width: 100%;
                } // xs
                @include inline-middle;
                background-color: white;
                width: 50%;
                .info-block {
                    font-size: rem(14);
                    line-height: 16px;
                    color: #c1c1c1;
                    ul {
                        @include clear-list;
                        li {
                            margin-left: 40px;
                        } // li
                        li + li {
                            margin-top: 5px;
                        } // +
                    } // ul
                } // info-block
                .phones {
                    margin-bottom: 10px;
                    display: block;
                    &:before {
                        content: '\f095';
                        font: normal normal normal 14px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        color: #c1c1c1;
                        float: left;
                    } // &:before
                } // phones
                .email {
                    display: block;
                    @include bp(xs) {
                        display: none;
                    } // xs
                    &:before {
                        content: '\f0e0';
                        font: normal normal normal 14px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        color: #c1c1c1;
                        position: relative;
                        top: 16px;
                    }  // &:before
                } // email
            } // info
            .cart {
                display: none;
                @include bp(sm) {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    float: right;
                    height: 100%;
                } // sm
                @include bp(md) {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    float: right;
                    height: 100%;
                } // md
                @include bp(lg) {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    float: right;
                    height: 100%;
                } // lg
                .cart-display-link {
                    @include no-select;
                    @include clearfix;
                    text-decoration: none;
                    display: block;
                    &.active {
                        .cart-count {
                            background-color: #00A2E2;
                        } // .cart-count
                    } // &.active
                    .cart-count {
                        box-sizing: border-box;
                        border-radius: 100%;
                        width: 34px;
                        height: 34px;
                        background: #1B5191;
                        color: white;
                        text-align: center;
                        position: relative;
                        padding-top: 9px;
                        padding-right: 12px;
                        top: 33px;
                        left: 20px;
                        float: left;
                    } // cart-count
                    .cart-info {
                        float: right;
                        color: #c1c1c1;
                        line-height: 1.4;
                        position: relative;
                        top: 13px;
                        //vertical-align: middle;
                        span {
                            display: block;
                            font-size: rem(14);
                        } // span
                        .text-cart {
                            color: #484848;
                            font-size: rem(18);
                        } // text-cart
                        .sum {
                            font-weight: bold;
                            color: #266AAC;
                        } // sum
                    } // cart-info
                } // cart-display-link
            } // cart
        } // &.info-box
    } // welcome-block
} // welcome-wrap
