{% extends 'base.html' %}

{% load static i18n %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content %}
<!-- product -->
<section class="product">
    <div class="wrap">
        <div class="filters-in-in-view">
            filters
        </div>
        <div class="products-in-view">
            <!-- info-box -->
            <div class="info-box">
                <div class="title-line">
                    <h1 class="product-title">Фильтр для питьевой воды XCore 11</h1>
                    <span class="label new">новинка</span>
                </div>
                <div class="price-line">
                    <span class="in-stock">33 на складе</span>
                    <span class="price">340,00</span>
                    <span class="currency">грн.</span>
                    <button class="button button-blue add-to-cart">Купить</button>
                </div>
            </div>
            <!-- /info-box -->
            <!-- product-block -->
            <div class="product-block">
                <h3 class="product-block-title description">
                    Описание
                </h3>
                <div class="product-block-content">
                    <article class="descriptionription">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus urna sit amet tincidunt scelerisque.
                        </p>
                    </article>
                </div>
            </div>
            <!-- /product-block -->
            <!-- product-block -->
            <div class="product-block">
                <h3 class="product-block-title description">
                    Выбор товаров
                </h3>
                <div class="product-block-content">
                    <table class="combain-product-list">
                        <tr>
                            <th>Наименование</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <div class="string"></div>
                            </td>
                            <td>Количество</td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /product-block -->
        </div>
    </div>
</section>
<!-- /product -->
{% endblock %}
