<div class="filter-type numeric">
    <div data-role="filter-slider" min="{{ filter.min_value }}" max="{{ filter.max_value }}"></div>
    <div class="slider-box" data-role='filter-slider'>
        <div id="slider" data-min="{{ filter.min_value }}" data-max="{{ filter.max_value }}"></div>
        <div class="values-fields">
            <div class="values-item">
                <input type="text" data-role="filter-item-min" data-filter-field-name="{{ filter.get_item_prefix }}-min">
            </div>
            <div class="values-item">
                <span>–</span>
            </div>
            <div class="values-item">
                <input type="text" data-role="filter-item-max" data-filter-field-name="{{ filter.get_item_prefix }}-max">
            </div>
        </div>
    </div>
</div>
