<!-- cart-display -->
<div class="cart-display" data-role="cart-display">
    <div class="cart-content">
        <div data-role="cart-order">
            <form action="" class="one-click-order">
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Телефон
                    </label>
                    <div class="inputs">
                        <input type="text" data-role="phone-mask">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Имя
                    </label>
                    <div class="inputs">
                        <input type="text">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        Сообщение
                    </label>
                    <div class="inputs">
                        <textarea name="" id=""></textarea>
                    </div>
                </div>
                <div class="fieldset buttons">
                    <button class="button button-transparent" data-role="trigger-one-click-hide">Отмена</button>
                    <button class="button button-blue order">Купить</button>
                </div>
                <div class="fieldset required-expl">
                    <sup>*</sup>обязательное поле
                </div>
            </form>
        </div>
        <div frontend-role="cart-items">
            <div class="total-display">
                {% if request.session.cart.count == 0 %}
                В корзине нет товаров
                {% else %}
                В корзине всего товаров: <strong data-role="cart-count">{{ request.session.cart.count }}</strong>, общей суммой в <strong data-role="cart-total">{{ request.session.cart.total }}</strong> грн.
                {% endif %}
            </div>
            <hr>
            <div class="cart-items" frontend-role="cart-items">
                {% for item in request.session.cart.ordered_products %}
                <div class="cart-item" data-role="{{ item.pk }}" {% if forloop.counter > 3 %} style="display:none;" {% endif %} data-visible="{% if forloop.counter > 3 %}false{% else %}true{% endif %}">
                    <div class="cart-item-cell name">
                        <div class="item-name">{{ item.name }} ({{ item.code }})</div>
                    </div>
                    <div class="cart-item-cell price">
                        <span class="price" data-role="{{ item.pk }}_sum">{{ item.sum_ }}</span>
                        <span class="currency">грн.</span>
                    </div>
                    <div class="cart-item-cell count-updater" frontend-role="cart-item">
                        <span class="count-button" frontend-role="cart-item-count-plus">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                        <input data-product-id="{{ item.pk }}" type="text" class="count" data-role="quant" value="{{ item.quant }}" frontend-role="cart-item-count">
                        <span class="count-button" frontend-role="cart-item-count-minus">
                            <i class="fa fa-minus-circle"></i>
                        </span>
                        <span class="count-button remove" frontend-role="cart-item-count-delete" data-value="{{ item.pk }}" data-role="remove">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="cart-buttons">
                <a href="/cart/order/"><button class="button button-blue order">Перейти к оформлению заказа</button></a>
            </div>
        </div>
    </div>
</div>
<!-- /cart-display -->
