<!-- cart-display -->
<div class="cart-display" data-role="cart-display">
    <div class="cart-content">
        <div data-role="cart-order">
            <form action="" class="one-click-order">
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Телефон
                    </label>
                    <div class="inputs">
                        <input type="text" data-role="phone-mask">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Имя
                    </label>
                    <div class="inputs">
                        <input type="text">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        Сообщение
                    </label>
                    <div class="inputs">
                        <textarea name="" id=""></textarea>
                    </div>
                </div>
                <div class="fieldset buttons">
                    <button class="button button-transparent" data-role="trigger-one-click-hide">Отмена</button>
                    <button class="button button-blue order">Купить</button>
                </div>
                <div class="fieldset required-expl">
                    <sup>*</sup>обязательное поле
                </div>
            </form>
        </div>
        <div data-role="cart-items">
            <div class="total-display">
                {% if request.session.cart.count == 0 %}
                В корзине нет товаров
                {% elif request.session.cart.count == 1 %}
                В корзине один товар со стоимостью <strong>{{ request.session.cart.total }}</strong> грн.
                {% else %}
                В корзине {{ request.session.cart.count }} товара с общей суммой в <strong>{{ request.session.cart.total }}</strong> грн.
                {% endif %}
            </div>
            <div class="cart-buttons">
                <a href="/cart/order/"><button class="button button-blue order">Перейти к оформлению заказа</button></a>
            </div>
        </div>
    </div>
</div>
<!-- /cart-display -->
