<!-- cart-display -->
<div class="cart-display" data-role="cart-display">
    <div class="cart-content">
        <div data-role="cart-order">
            <form action="" class="one-click-order">
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Телефон
                    </label>
                    <div class="inputs">
                        <input type="text" data-role="phone-mask">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        <sup>*</sup>Имя
                    </label>
                    <div class="inputs">
                        <input type="text">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="">
                        Сообщение
                    </label>
                    <div class="inputs">
                        <textarea name="" id=""></textarea>
                    </div>
                </div>
                <div class="fieldset buttons">
                    <button class="button button-transparent" data-role="trigger-one-click-hide">Отмена</button>
                    <button class="button button-blue order">Купить</button>
                </div>
                <div class="fieldset required-expl">
                    <sup>*</sup>обязательное поле
                </div>
            </form>
        </div>
        <div data-role="cart-items">
            <div class="total-display">
                {% if request.session.cart.count == 0 %}
                В корзине нет товаров
                {% elif request.session.cart.count == 1 %}
                В корзине один товар со стоимостью <strong>{{ request.session.cart.total }}</strong> грн.
                {% else %}
                В корзине {{ request.session.cart.count }} товара с общей суммой в <strong>{{ request.session.cart.total }}</strong> грн.
                {% endif %}
            </div>
            <div class="cart-items">
                {% for item in request.session.cart.products %}
                <div class="cart-item">
                    <div class="cart-item-cell name">
                        <div class="item-name">{{ item.title }}</div>
                    </div>
                    <div class="cart-item-cell price">
                        <span class="price">340,00</span>
                        <span class="currency">грн.</span>
                    </div>
                    <div class="cart-item-cell count-updater" data-role="cart-item">
                        <span class="count-button" data-role="cart-item-count-plus">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                        <input type="text" class="count" value="1" data-role="cart-item-count">
                        <span class="count-button" data-role="cart-item-count-minus">
                            <i class="fa fa-minus-circle"></i>
                        </span>
                        <span class="count-button remove" data-role="cart-item-count-delete">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="cart-buttons">
                <a href="/cart/order/"><button class="button button-blue order">Перейти к оформлению заказа</button></a>
            </div>
        </div>
    </div>
</div>
<!-- /cart-display -->
