<!-- footer -->
<div class="footer">
    <!-- services -->
    <div class="service">
        <div class="wrap">
            <div class="block-service car">
                <h4>Доставка</h4>
                <span>Бесплатно при</span>
                <span>заказе свыше 2000 грн.</span>
            </div>
            <div class="block-service warranty">
                <h4>Гарантия</h4>
                <span>Гарантия 2 года</span>
                <span>на все фильтры</span>
            </div>
            <div class="block-service discount">
                <h4>Скидка</h4>
                <span>При заказе</span>
                <span>свыше 2000 грн.</span>
            </div>
            <div class="block-service key">
                <h4>Обслуживание</h4>
                <span>Установка и ремонт</span>
                <span>фильтров для воды</span>
            </div>
        </div>
    </div>
    <!-- /services -->
    <!-- footer-info -->
    <div class="footer-info">
        <div class="wrap">
            <div class="column">
                <h2>Наши адреса</h2>
                <ul>
                    <li class="city">Киев</li>
                    <li>ул. Героев Сталинграда 52/2</li>
                    <li>ул. Артема 13/2</li>
                    <li class="city">Днепропетровск</li>
                    <li>ул. Карла Маркса 11б</li>
                </ul>
            </div>
            <div class="column">
                <h2>Наши телефоны</h2>
                <ul>
                    <li>(044) 510-91-03</li>
                    <li>(067) 417-00-21</li>
                    <li>(050) 520-00-21</li>
                </ul>
            </div>
            <div class="column">
                <h2>Мы в интернете</h2>
                <ul>
                    <li class="social twitter"><a href="#">Twitter</a></li>
                    <li class="social facebook"><a href="#">Facebook</a></li>
                    <li class="social instagram"><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="column">
                <h2>Информация</h2>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Оплата и доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /footer-info -->
</div>
<!-- /footer -->
