<!-- main-header -->
<nav class="main-header" data-role="main-header">
    <div class="wrap">

        <!-- small-menu -->
        <ul class="small-menu">
            <li class="small-menu-item bar-icon"><a href="#" class="fa fa-bars" data-role="popup-mobile-menu-trigger"></a></li>
            <li class="small-menu-item"><a href="#">Галерея</a></li>
            <li class="small-menu-item"><a href="#">Оплата и Доставка</a></li>
            <li class="small-menu-item"><a href="#">О нас</a></li>
            <li class="small-menu-item"><a href="#">Контакты</a></li>
        </ul>
        <!-- /small-menu -->

        <!-- cart-display-mobile -->
        <div class="cart-display-mobile">
            <a class="cart-display-link" data-role="cart-display-trigger-mobile">
                <div class="cart-count">2</div>
            </a>
        </div>
        <!-- /cart-display-mobile -->

    </div>
</nav>
<!-- /main-header -->
