<!-- popup-menu -->
<div class="popup-menu" data-role="popup-mobile-menu">
    <div class="wrap">
        <nav class="popup-block search-box">
            <input class="search-fieled" type="search" placeholder="Search request">
            <button type="submit" class="send"></button>
        </nav>
        <nav class="popup-block menu-box">
            <ul class="menu-list">
                <li><a href="#">Питьевая вода</a></li>
                <li><a href="#">Бытовая вода</a></li>
                <li><a href="#">Для дома</a></li>
                <li><a href="#">Для предприятий</a></li>
                <li><a href="#">Картриджи</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- /popup-menu -->
