<!-- pagination -->
<ul class="pagination">
    <li class="pressbutton control"><a href="#" class="fa fa-angle-left"></a></li>
    <li class="pressbutton active"><a href="#">1</a></li>
    <li class="pressbutton"><a href="#">2</a></li>
    <li class="pressbutton"><a href="#">3</a></li>
    <li class="pressbutton"><a href="#">...</a></li>
    <li class="pressbutton"><a href="#">5</a></li>
    <li class="pressbutton"><a href="#">6</a></li>
    <li class="pressbutton control"><a href="#" class="fa fa-angle-right"></a></li>
</ul>
<!-- /pagination -->

<!-- pagination-mobile -->
<ul class="pagination-mobile">
    <li class="pressbutton control"><a href="#" class="fa fa-angle-left"></a></li>
    <li class="pressbutton active"><a href="#">1</a></li>
    <li class="pressbutton"><a href="#">2</a></li>
    <li class="pressbutton"><a href="#">3</a></li>
    <li class="pressbutton control"><a href="#" class="fa fa-angle-right"></a></li>
</ul>
<!-- /pagination-mobile -->
