<!-- product-menu -->
<nav class="product-menu" data-role="product-menu">
    <div class="wrap">
        <ul class="menu">
            <li class="bar-icon"><span data-role="popup-menu-trigger">Категории</span></li>
            {% for category in categories %}
            <li>
                <a href="{{ category.get_url }}" class="{% if selected_category.id == category.id %}active{% endif %}">{{ category.name }}</a>
                <ul class="submenu" data-role="product-submenu">
                    {% for subcategory in category.get_subcategories %}
                    <li>
                        <a href="{{ subcategory.get_url }}" class="{% if selected_subcategory.id == subcategory.id %}active{% endif %}">{{ subcategory.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            <li class="lens"><span class="lens-trigger" data-role="popup-search-trigger"></span></li>
        </ul>
    </div>
</nav>
<!-- product-menu -->
