<!-- product-menu -->
<nav class="product-menu" data-role="product-menu">
    <div class="wrap">
        <ul class="menu">
            <li class="bar-icon"><span data-role="popup-menu-trigger">Категории</span></li>
            <li><a href="#">Питьевая вода</a></li>
            <li><a href="#">Бытовая вода</a></li>
            <li><a href="#">Для дома</a></li>
            <li><a href="#">Для предприятий</a></li>
            <li><a href="#">Картриджи</a></li>
            <li class="lens"><span class="lens-trigger" data-role="popup-search-trigger"></span></li>
        </ul>
    </div>
</nav>
<!-- product-menu -->
