<!-- product-menu -->
<nav class="product-menu" data-role="product-menu">
    <div class="wrap">
        <ul class="menu">
            <li class="bar-icon"><span data-role="popup-menu-trigger">Категории</span></li>
            {% for category in sections %}
            <li>
                <a href="{{ category.get_url }}" class="{% if selected_category.id == category.id %}active{% endif %}">{{ category.name }}</a>
                <div class="submenu" data-role="product-submenu">
                    <div class="submenu-container">
                        <div class="submenu-container-left">
                            <ul class="subMenuLeft-nav">
                                {% for subcategory in category.get_categories %}
                                <li data-role="sub-tab-trigger" sub-tabTrigger="{{ forloop.counter }}">
                                    <a href="{{ subcategory.get_url }}" class="{% if selected_subcategory.id == subcategory.id %}active{% endif %}">{{ subcategory.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="submenu-container-right">
                            {% for subcategory in category.get_categories %}
                            <div class="subMenuLeft-content catalogue-directories" data-role="sub-tab" sub-tabTrigger="{{ forloop.counter }}">
                                <ul class="directories-list small">
                                    {% for subcategory in subcategory.get_subcategories %}
                                        {% with subcategory as item %}
                                            {% include 'items/index-category-item.html' %}
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<!-- product-menu -->
