<!-- welcome -->
<div class="welcome">

    <div class="welcome-wrap">

        <div class="welcome-block logo-box">
            <a href="/" class="logo"></a>
        </div>

        <div class="welcome-block baner-box">
            <div class="baner"></div>
        </div>

        <div class="welcome-block info-box">
            <div class="info">
                <!-- phones -->
                <div class="info-block phones">
                    <ul>
                        <li>(044) 510-91-03</li>
                        <li>(067) 417-00-21</li>
                        <li>(050) 520-00-21</li>
                    </ul>
                </div>
                <!-- /phones -->
                <!-- email -->
                <div class="info-block email">
                    <ul>
                        <li>info@waterproff.ua</li>
                    </ul>
                </div>
                <!-- /email -->
                <!-- cart -->
                <div class="info-block cart">
                    <a class="cart-display-link" data-role="cart-display-trigger">
                        <div class="cart-count" data-role="cart-display-trigger-count">2</div>
                        <span class="cart-info">
                            <span class="text-cart">В корзине</span>
                            <span>товаров на сумму</span>
                            <span class="sum">3000 грн.</span>
                        </span>
                    </a>
                </div>
                <!-- /cart -->
            </div>
        </div>
    </div>
</div>
<!--/welcome -->
