{% extends "admin/change_list.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    {# It is bad idea to load jquery like this - need to be fixed #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'admin/product-list.js' %}"> </script>
{% endblock %}

{% block content %}
    Section:
    <select data-role='section-filter'>
        <option data-value="0"> --- </option>
        {% for section in sections %}
            <option data-value="{{ section.id }}" {% if section.id == selected_section_id %} selected {% endif %}>
                {{ section.name }}
            </option>
        {% endfor %}
    </select>
    Category:
    <select data-role='category-filter'>
        <option data-value='0'> --- </option>
        {% for category in categories %}
            <option data-value="{{ category.id }}" {% if category.id == selected_category_id %} selected {% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>
    Subcategory:
    <select data-role='subcategory-filter'>
        <option data-value='0'> --- </option>
        {% for subcategory in subcategories %}
            <option data-value="{{ subcategory.id }}" {% if subcategory.id == selected_subcategory_id %} selected {% endif %}>
                {{ subcategory.name }}
            </option>
        {% endfor %}
    </select>
    {{ block.super }}
{% endblock %}
