<!--For test only-->

{% load staticfiles %}
{% load i18n %}

{% csrf_token %}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<div id='cart'   data-url="{% url 'cart' %}"></div>
{{products}}
{% for product in products %}
    <div >
        {{product.name}}
        <input id = {{product.pk}} type = text  value =3> </input>
        {{product.price_uah}} грн
        <button  id="buy" value={{product.pk}}>Купить</button>
        <button  id="add" value={{product.pk}}>Добавить</button>
        <button  id="remove" value={{product.pk}}>Удалить</button>
    </div>
{% endfor %}

<div>
    <button  id="get" >Получить данные корзины</button>
</div>

<div>
    <button  id="clear" >Очистить корзину</button>
</div>

<div id = 'products'></div> <br>
<div id = 'dict'></div>
{% block basejs %}
    <script src="{% static 'cart/cart.js' %}"> </script>
    <script src="{% static 'cart/cart_test.js' %}"> </script>
{% endblock basejs %}


</body>
</html>
