{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}


{% block content %}
<!-- product -->
<section class="product">
    <div class="wrap">
        <!-- breadcrumps -->
        <div class="breadcrumps">
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><span>Корзина и оформление заказа</span></li>
            </ul>
        </div>
        <!-- /breadcrumps -->
        <div class="products-in-view cart-order-page">
            <div class="product-blocks">
                <!-- product-block -->
                <div class="product-block" id="display-cart">
                    <h3 class="product-block-title">
                        Корзина
                    </h3>
                    <div class="product-block-content">
                        <table class="combain-product-list">
                            <tr>
                                <th>Товар</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                            <!-- item -->
                            {% for key, value in request.session.cart.products.items %}
                                <tr data-role={{ key }}>
                                    <td>
                                        <span class="name">{{ value.name }} ({{ value.code }})</span>
                                    </td>
                                    <td>
                                        <div data-front="price-input">
                                            <span data-front="cart-input-count-minus">
                                                <i class="fa fa-minus-circle"></i>
                                            </span>
                                            <input class="count" type="number" value="{{ value.quant }}" min="1"
                                                data-front="price-input-count"
                                                data-product-id="{{ key }}" data-role='quant'  data-pk= {{ key }} value={{ value.quant }}>
                                            <span data-front="cart-input-count-plus">
                                                <i class="fa fa-plus-circle"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-line">
                                            <span class="price" data-role={{key}}_sum>{{value.sum_}}</span>
                                            <span class="currency">грн.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span data-front="cart-input-count-delete">
                                            <i class="fa fa-times-circle" data-role='remove' data-value='{{ key }}'></i>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- /item -->
                        </table>
                        <!-- combain-product-summary -->
                        <div class="combain-product-summary">
                            Заказано товаров <span data-role="cart-count">{{ cart.count }}</span> на сумму <span data-role="cart-total">{{ cart.total }}</span> грн.
                        </div>
                        <!-- /combain-product-summary -->
                    </div>
                </div>
                <!-- /product-block -->
                <!-- product-block -->
                <div class="product-block" id="order-cart" data-role="order-block">
                    <h3 class="product-block-title">
                        Оформить заказ
                    </h3>
                    <form action='.' method='post' data-role='order-form'>{% csrf_token %}
                        <div class="order-form">
                            <div class="step-1 active" data-role="order-step-1">
                                <fieldset>
                                    <label>Имя:</label>
                                    <div class="input">
                                        <input id='id_name' name='name' type="text" required>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <label>Телефон:</label>
                                    <div class="input">
                                        <input id="id_phone" name="phone" type="tel" data-role="phone-mask" required>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <label>Email:</label>
                                    <div class="input">
                                        <input id="id_email" type="email" name="email">
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <label>Дополнительная информация:</label>
                                    <div class="input">
                                        <textarea id="id_contacts" name="contacts"></textarea>
                                    </div>
                                </fieldset>
                                <fieldset class="order-button">
                                    <button type="submit" class="button button-blue">Оформить заказ</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /product-block -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block js %}
    <script src="{% static 'cart/cart.js' %}"> </script>
{% endblock js %}


