<!-- product-box -->
<li class="product-box">
    <a href="{{ item.get_url }}" class="product product-grid">
        <h2 class="title">{{ item.name }} | {{ item.code }}</h2>
        <div class="product-rating-box">
            <div class="product-rating rating-{{ item.get_rating }}"></div>
        </div>
        <div class="description elipsis-box">
            <span class="elipsis">
                {{ item.short_description }}
            </span>
        </div>
        <div class="img-box">
            <img src="{% if item.images.exists %}{{ item.get_first_image.image_small_thumbnail.url }}{% endif %}" alt="">
        </div>
        <div class="price-tag">
            <span class="price">{{ item.get_display_price_uah  }}</span>
            <span class="currency">грн.</span>
        </div>
        <div class="add-to-cart-box">
            <button class="button button-blue add-to-cart" id="buy" value = {{item.pk}} data-quant = 3>Купить</button>
        </div>
    </a>
</li>
<!-- /product-box -->
