{% extends 'base.html' %}

{% load static i18n %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content %}
<!-- title-box -->
<div class="title-box">
    <div class="wrap">
        <h1 class="typo-primary">Галерея</h1>
    </div>
</div>
<!-- /title-box -->

<!-- gallery -->
<div class="gallery">
    <div class="wrap">
        <ul class="gallery-list">
            {% if prim_images %}
                {% with prim_images as items %}
                    {% for item in items %}
                        {% include 'items/gallery-item.html' %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </ul>
    </div>
</div>
<!-- /gallery -->
{% endblock %}
