{% extends 'base.html' %}

{% csrf_token %}
{% load i18n %}
{% load static %}

{% block content %}
    {% include 'products/header.html' %}
    {% for key, value in cart.products.items %}
        {{key}}:{{value.name}}, {{value.price}} 
        <button  name= 'but1' value = {{key}} type="button" id = "remove"> {% trans "Remove" %} </button><br>
    {% endfor %}
    
    <button  name= 'but2' type="button" id = "clear" > {% trans "Clear cart" %} </button>

{% endblock content %}
    
{% block js %}
    <script src="{{ STATIC_URL }}js/cart.js"> </script>
    <script src="{{ STATIC_URL }}js/sess_cart.js"> </script>
{% endblock js %}
