{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<ul>
  {% if top.images.all %}
    {% for image in top.images.all %}
       <a href={{image.link}} ><img src="{{ MEDIA_PREFIX }}{{image.photo}}" alt="{{image.description}}">{{image}}</a>
      <li>
        <img src="{{ MEDIA_PREFIX }}{{ image.photo }}" alt="{{ image.description }}">
        {{ image }}
       </li>
    {% endfor %}
  {% endif %}
</ul>

{% for category in categories %}
    <ul><li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
      {% for subcategory in category.subcategories.all %}
        <ul><li><a href="{{ subcategory.get_url }}">{{ subcategory.name }}</a></li></ul>
      {% endfor %}
    </ul>
{% endfor %}

<ul>
  {% if main.images.all %}
    {% for image in main.images.all %}
      <a href={{image.link}} ><img src="{{ MEDIA_PREFIX }}{{ image.photo }}" alt="{{ image.description}}">{{image}}</a>
      <li>
        <img src="{{ MEDIA_PREFIX }}{{ image.photo }}" alt="{{ image.description }}">
        {{ image }}
      </li>
    {% endfor %}
  {% endif %}
</ul>
