{% extends 'base.html' %}

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<!-- view-title-box -->
<div class="view-title-box with-filters">
    <div class="wrap">
        <h1 class="view-title">{{ selected_subcategory.name }}</h1>
        <div class="filter-line">
            <ul class="filters">
                <li class="price">Цена:</li>
                <li><span class="filter-button gray freewidth price-tag disabled" data-role="filter-item">200</span></li>
                <li><span class="filter-button gray freewidth price-tag" data-role="filter-item">600</span></li>
                <li><span class="filter-button gray freewidth price-tag" data-role="filter-item">1000</span></li>
                <li class="show-filters">
                    <span class="filter-button gray freewidth filters-trigger" data-role="filters-trigger">фильтры</span>
                </li>
                <li>
                    <span class="filter-button" data-role="products-view-trigger" data-view="grid">
                        <span class="filter show-grid active"></span>
                    </span>
                </li>
                <li>
                    <span class="filter-button" data-role="products-view-trigger" data-view="list">
                        <span class="filter show-list"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /view-title-box -->

<!-- basic filters -->
<div class="filter-block" data-role="filters-block">
    <div class="wrap">
        <div class="filters">
            <div class="basic-filters">
                <h3 class="filter-title">Основные фильтры</h3>
                <div class="first-container">
                    <ul class="main-filters">
                        <li>
                            <span class="item" data-role="filter-item">новинка</span>
                        </li>
                        <li>
                            <span class="item" data-role="filter-item">акция</span>
                        </li>
                        <li>
                            <span class="item" data-role="filter-item">скидка</span>
                        </li>
                    </ul>
                </div>
                <div class="second-container">
                    <div id="slider"></div>
                </div>
            </div>
            <div class="producer">
                <h3 class="filter-title">Производитель</h3>
                <ul class="main-filters">
                    <li><span class="item" data-role="filter-item">XCore</span></li>
                    <li><span class="item" data-role="filter-item">GoPro</span></li>
                    <li><span class="item" data-role="filter-item">Soma badge</span></li>
                    <li><span class="item" data-role="filter-item">LevelsFilters</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /basic filters -->

<div class="products-view">
    <!-- products-list-box -->
    <div class="products-list-box" data-role="products-view" data-view="grid">
        <div class="wrap">
            <ul class="products-list">
                {% with products as items %}
                    {% for item in items %}
                        {% include 'items/product-grid.html' %}
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </div>
    <!-- /products-list-box -->

    <!-- products-list-box -->
    <div class="products-list-box" data-role="products-view" data-view="list">
        <div class="wrap">
            <ul class="products-list">
                {% with products as items %}
                    {% for item in items %}
                        {% include 'items/product-list.html' %}
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </div>
    <!-- /products-list-box -->
</div>
{% include 'partials/pagination-more.html' %}
{% include 'partials/pagination.html' %}
{% endblock content %}

{% block js %}
<script src="{{ STATIC_URL }}js/product-list.js"></script>
{% endblock js %}
